* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* mini-library */
.clear-border {
  border: none;
  outline: none;
}

.linear-background {
  background-image: linear-gradient(to right, #fed100, #ec7532);
}

/* header */
header {
  background-color: black;
}

header .container .contain .menubar .search {
  background-color: #fff;
  border-radius: 5px;
  border: none 1px black;
  overflow: hidden;
  height: 35px;
}

header .container .contain .menubar .search button {
  height: 30px;
  width: 30px;
  background-color: #fff;
}
header .container .contain .menubar li a {
  text-decoration: none;
  color: #fff;
}

header .container .contain .menubar li a:hover {
  color: #FED100;
}

header .container .contain .logo img {
  height: 3.75rem;
  width: 10rem;
}

/* header */

/* menubar */
.menubar .container .contain li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}
.menubar .container .contain li:hover {
  background-color: #fff;
}

/* menubar */

/* carousel */
.banner .container .content .banner__slider{
  height: 100%;
  width: 100%;
}

.banner .container .content .banner__slider ol{
  position: unset;
}

.banner .container .content .banner__slider ol .indicators__text{
  height: 50px;
  padding: 10px 25px 10px 25px ;
  width: 25%;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.288);
  cursor: pointer;
}

.banner .container .content .banner__slider ol .active{
  border-top: #FED100 solid 5px;
  opacity: 0.8;
}

.banner .container .content .banner__slider ol p{
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
  vertical-align: middle;
  margin:0;
}

.banner .container .content .banner__slider a span{
  width: 50px;
  height: 50px;
}

.banner .container .content .banner__img{
  height: 322px;
}

.banner .container .content .banner__img .img{
  height: 50%;
  width: 50%;
  padding: 0px;
}

.banner .container .content .banner__img img{
  width: 100%;
  height: 100%;
}

/* carousel */

/* product */

.product__main{
  background-color: #FED100;
}
.productList .product__box .product__content {
  text-align: justify;
  padding: 15px;
  margin-bottom: 20px;
  transition: 0.3s linear all;
  background-color: #fff;
  border-radius: 8px;
}

.productList .product__box .product__content img {
  width: 250px;
  height: 200px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s linear all;
}

.productList .product__box .product__content:hover img {
  transform: translate(0, -14px);
}

.productList .product__box .product__content:hover .product__name{
  color: #288ad6;
}

.productList .product__box .product__content:hover{
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: translate(0, -10px);
}
/* product */

/* purchase */
.purchase .container .purchase__cart{
  border: 1px solid black;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}


/* purchase */
